In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_quarterly_data_encoded.csv')

In [4]:
df.drop(columns=['Quarter_Q4', 'Quarter_Q2', 'Quarter_Q3'])

,RegionID,RegionName,StateName,Year,Quarter,Home_Index,SizeRank,30_Yr_Mort_Rate,GDP,CPI,Unemp_Rate,Per_Inc,Population
0,394913,"New York, NY",NY,1996,Q2,178805.7511,1,8.102308,8032.840,156.533333,5.500000,6638.633333,269251.3333
1,394913,"New York, NY",NY,1996,Q3,180891.4381,1,8.146923,8131.408,157.366667,5.266667,6712.800000,270128.3333
2,394913,"New York, NY",NY,1996,Q4,181090.9894,1,7.703077,8259.771,158.500000,5.333333,6802.600000,270991.6667
3,394913,"New York, NY",NY,1997,Q1,180635.7721,1,7.793077,8362.655,159.566667,5.233333,6922.166667,271709.0000
4,394913,"New York, NY",NY,1997,Q2,182068.9644,1,7.926923,8518.825,160.200000,5.000000,7003.300000,272487.3333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84435,102001,United States,USA,2023,Q1,338317.7382,0,6.372308,26813.601,300.615333,3.500000,22643.866670,334547.0000
84436,102001,United States,USA,2023,Q2,348777.2949,0,6.510769,27063.012,304.199667,3.566667,22868.033330,334933.6667
84437,102001,United States,USA,2023,Q3,356315.4753,0,7.040000,27610.128,306.835333,3.700000,23085.700000,335430.3333
84438,102001,United States,USA,2023,Q4,353596.3073,0,7.303846,27956.998,307.156000,3.733333,23247.500000,335922.6667
84439,102001,United States,USA,2024,Q1,352295.2503,0,6.748462,28255.928,310.358333,3.800000,23651.966670,336307.6667

In [5]:
# Convert Quarter to numerical value
quarter_to_num = {'Q1': 0.0, 'Q2': 0.25, 'Q3': 0.5, 'Q4': 0.75}
df['Quarter_num'] = df['Quarter'].map(quarter_to_num)

# Combine Year and Quarter_num
df['Year_Quarter'] = df['Year'] + df['Quarter_num']

print(df)

       RegionID     RegionName StateName  Year Quarter   Home_Index  SizeRank  \
0        394913   New York, NY        NY  1996      Q2  178805.7511         1
1        394913   New York, NY        NY  1996      Q3  180891.4381         1
2        394913   New York, NY        NY  1996      Q4  181090.9894         1
3        394913   New York, NY        NY  1997      Q1  180635.7721         1
4        394913   New York, NY        NY  1997      Q2  182068.9644         1
...         ...            ...       ...   ...     ...          ...       ...
84435    102001  United States       USA  2023      Q1  338317.7382         0
84436    102001  United States       USA  2023      Q2  348777.2949         0
84437    102001  United States       USA  2023      Q3  356315.4753         0
84438    102001  United States       USA  2023      Q4  353596.3073         0
84439    102001  United States       USA  2024      Q1  352295.2503         0

       30_Yr_Mort_Rate        GDP         CPI  Unemp_Rate       Per_Inc  \
0             8.102308   8032.840  156.533333    5.500000   6638.633333
1             8.146923   8131.408  157.366667    5.266667   6712.800000
2             7.703077   8259.771  158.500000    5.333333   6802.600000
3             7.793077   8362.655  159.566667    5.233333   6922.166667
4             7.926923   8518.825  160.200000    5.000000   7003.300000
...                ...        ...         ...         ...           ...
84435         6.372308  26813.601  300.615333    3.500000  22643.866670
84436         6.510769  27063.012  304.199667    3.566667  22868.033330
84437         7.040000  27610.128  306.835333    3.700000  23085.700000
84438         7.303846  27956.998  307.156000    3.733333  23247.500000
84439         6.748462  28255.928  310.358333    3.800000  23651.966670

        Population  Quarter_Q2  Quarter_Q3  Quarter_Q4  Quarter_num  \
0      269251.3333         1.0         0.0         0.0         0.25
1      270128.3333         0.0         1.0         0.0         0.50
2      270991.6667         0.0         0.0         1.0         0.75
3      271709.0000         0.0         0.0         0.0         0.00
4      272487.3333         1.0         0.0         0.0         0.25
...            ...         ...         ...         ...          ...
84435  334547.0000         0.0         0.0         0.0         0.00
84436  334933.6667         1.0         0.0         0.0         0.25
84437  335430.3333         0.0         1.0         0.0         0.50
84438  335922.6667         0.0         0.0         1.0         0.75
84439  336307.6667         0.0         0.0         0.0         0.00

       Year_Quarter
0           1996.25
1           1996.50
2           1996.75
3           1997.00
4           1997.25
...             ...
84435       2023.00
84436       2023.25
84437       2023.50
84438       2023.75
84439       2024.00

[84440 rows x 18 columns]

In [6]:
df

,RegionID,RegionName,StateName,Year,Quarter,Home_Index,SizeRank,30_Yr_Mort_Rate,GDP,CPI,Unemp_Rate,Per_Inc,Population,Quarter_Q2,Quarter_Q3,Quarter_Q4,Quarter_num,Year_Quarter
0,394913,"New York, NY",NY,1996,Q2,178805.7511,1,8.102308,8032.840,156.533333,5.500000,6638.633333,269251.3333,1.0,0.0,0.0,0.25,1996.25
1,394913,"New York, NY",NY,1996,Q3,180891.4381,1,8.146923,8131.408,157.366667,5.266667,6712.800000,270128.3333,0.0,1.0,0.0,0.50,1996.50
2,394913,"New York, NY",NY,1996,Q4,181090.9894,1,7.703077,8259.771,158.500000,5.333333,6802.600000,270991.6667,0.0,0.0,1.0,0.75,1996.75
3,394913,"New York, NY",NY,1997,Q1,180635.7721,1,7.793077,8362.655,159.566667,5.233333,6922.166667,271709.0000,0.0,0.0,0.0,0.00,1997.00
4,394913,"New York, NY",NY,1997,Q2,182068.9644,1,7.926923,8518.825,160.200000,5.000000,7003.300000,272487.3333,1.0,0.0,0.0,0.25,1997.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84435,102001,United States,USA,2023,Q1,338317.7382,0,6.372308,26813.601,300.615333,3.500000,22643.866670,334547.0000,0.0,0.0,0.0,0.00,2023.00
84436,102001,United States,USA,2023,Q2,348777.2949,0,6.510769,27063.012,304.199667,3.566667,22868.033330,334933.6667,1.0,0.0,0.0,0.25,2023.25
84437,102001,United States,USA,2023,Q3,356315.4753,0,7.040000,27610.128,306.835333,3.700000,23085.700000,335430.3333,0.0,1.0,0.0,0.50,2023.50
84438,102001,United States,USA,2023,Q4,353596.3073,0,7.303846,27956.998,307.156000,3.733333,23247.500000,335922.6667,0.0,0.0,1.0,0.75,2023.75
84439,102001,United States,USA,2024,Q1,352295.2503,0,6.748462,28255.928,310.358333,3.800000,23651.966670,336307.6667,0.0,0.0,0.0,0.00,2024.00

In [12]:
# Drop the unwanted columns
df = df.drop(columns=['Quarter_Q2', 'Quarter_Q3', 'Quarter_Q4', 'Year', 'Quarter', 'Quarter_num'])

# Verify the columns are dropped
print(df)

       RegionID     RegionName StateName   Home_Index  SizeRank  \
0        394913   New York, NY        NY  178805.7511         1
1        394913   New York, NY        NY  180891.4381         1
2        394913   New York, NY        NY  181090.9894         1
3        394913   New York, NY        NY  180635.7721         1
4        394913   New York, NY        NY  182068.9644         1
...         ...            ...       ...          ...       ...
84435    102001  United States       USA  338317.7382         0
84436    102001  United States       USA  348777.2949         0
84437    102001  United States       USA  356315.4753         0
84438    102001  United States       USA  353596.3073         0
84439    102001  United States       USA  352295.2503         0

       30_Yr_Mort_Rate        GDP         CPI  Unemp_Rate       Per_Inc  \
0             8.102308   8032.840  156.533333    5.500000   6638.633333
1             8.146923   8131.408  157.366667    5.266667   6712.800000
2             7.703077   8259.771  158.500000    5.333333   6802.600000
3             7.793077   8362.655  159.566667    5.233333   6922.166667
4             7.926923   8518.825  160.200000    5.000000   7003.300000
...                ...        ...         ...         ...           ...
84435         6.372308  26813.601  300.615333    3.500000  22643.866670
84436         6.510769  27063.012  304.199667    3.566667  22868.033330
84437         7.040000  27610.128  306.835333    3.700000  23085.700000
84438         7.303846  27956.998  307.156000    3.733333  23247.500000
84439         6.748462  28255.928  310.358333    3.800000  23651.966670

        Population  Year_Quarter
0      269251.3333       1996.25
1      270128.3333       1996.50
2      270991.6667       1996.75
3      271709.0000       1997.00
4      272487.3333       1997.25
...            ...           ...
84435  334547.0000       2023.00
84436  334933.6667       2023.25
84437  335430.3333       2023.50
84438  335922.6667       2023.75
84439  336307.6667       2024.00

[84440 rows x 12 columns]

In [13]:
df.to_csv('year_quarter_combined.csv', index=False)

In [14]:
df = pd.read_csv('year_quarter_combined.csv')

In [15]:
df

,RegionID,RegionName,StateName,Home_Index,SizeRank,30_Yr_Mort_Rate,GDP,CPI,Unemp_Rate,Per_Inc,Population,Year_Quarter
0,394913,"New York, NY",NY,178805.7511,1,8.102308,8032.840,156.533333,5.500000,6638.633333,269251.3333,1996.25
1,394913,"New York, NY",NY,180891.4381,1,8.146923,8131.408,157.366667,5.266667,6712.800000,270128.3333,1996.50
2,394913,"New York, NY",NY,181090.9894,1,7.703077,8259.771,158.500000,5.333333,6802.600000,270991.6667,1996.75
3,394913,"New York, NY",NY,180635.7721,1,7.793077,8362.655,159.566667,5.233333,6922.166667,271709.0000,1997.00
4,394913,"New York, NY",NY,182068.9644,1,7.926923,8518.825,160.200000,5.000000,7003.300000,272487.3333,1997.25
...,...,...,...,...,...,...,...,...,...,...,...,...
84435,102001,United States,USA,338317.7382,0,6.372308,26813.601,300.615333,3.500000,22643.866670,334547.0000,2023.00
84436,102001,United States,USA,348777.2949,0,6.510769,27063.012,304.199667,3.566667,22868.033330,334933.6667,2023.25
84437,102001,United States,USA,356315.4753,0,7.040000,27610.128,306.835333,3.700000,23085.700000,335430.3333,2023.50
84438,102001,United States,USA,353596.3073,0,7.303846,27956.998,307.156000,3.733333,23247.500000,335922.6667,2023.75
84439,102001,United States,USA,352295.2503,0,6.748462,28255.928,310.358333,3.800000,23651.966670,336307.6667,2024.00

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84440 entries, 0 to 84439
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RegionID         84440 non-null  int64
 1   RegionName       84440 non-null  object
 2   StateName        84440 non-null  object
 3   Home_Index       84440 non-null  float64
 4   SizeRank         84440 non-null  int64
 5   30_Yr_Mort_Rate  84440 non-null  float64
 6   GDP              84440 non-null  float64
 7   CPI              84440 non-null  float64
 8   Unemp_Rate       84440 non-null  float64
 9   Per_Inc          84440 non-null  float64
 10  Population       84440 non-null  float64
 11  Year_Quarter     84440 non-null  float64
dtypes: float64(8), int64(2), object(2)
memory usage: 7.7+ MB

In [17]:
df.describe()

,RegionID,Home_Index,SizeRank,30_Yr_Mort_Rate,GDP,CPI,Unemp_Rate,Per_Inc,Population,Year_Quarter
count,84440.000000,8.444000e+04,84440.000000,84440.000000,84440.000000,84440.000000,84440.000000,84440.000000,84440.000000,84440.000000
mean,412009.344150,1.685336e+05,434.828115,5.143069,16874.824279,226.471438,5.700939,14315.914331,311498.492645,2011.787855
std,78397.545256,1.111595e+05,267.783164,1.451774,5057.322317,38.023046,1.963626,4496.354943,18582.329343,7.597592
min,102001.000000,2.759738e+04,0.000000,2.760714,8032.840000,156.533333,3.500000,6638.633333,269251.333300,1996.250000
25%,394544.000000,1.036499e+05,199.000000,3.897857,13599.160000,198.933333,4.233333,11104.333330,297736.666700,2006.000000
50%,394802.000000,1.376892e+05,421.000000,4.922143,16207.115000,229.792667,5.033333,13811.833330,314373.333300,2012.250000
75%,395046.000000,1.948542e+05,660.000000,6.322308,20328.553000,251.374333,6.666667,17407.166670,328525.666700,2018.250000
max,753929.000000,1.668351e+06,939.000000,8.316154,28255.928000,310.358333,13.000000,23651.966670,336307.666700,2024.000000

In [18]:
# Calculate mean Home_Index for each RegionName
region_mean = df.groupby('RegionName')['Home_Index'].mean()

# Map the mean values to the DataFrame
df['RegionName_Target_Encoded'] = df['RegionName'].map(region_mean)

# Calculate mean Home_Index for each StateName
state_mean = df.groupby('StateName')['Home_Index'].mean()

# Map the mean values to the DataFrame
df['StateName_Target_Encoded'] = df['StateName'].map(state_mean)

# Drop original RegionName and StateName columns if no longer needed
df = df.drop(columns=['RegionName', 'StateName'])

print(df)

       RegionID   Home_Index  SizeRank  30_Yr_Mort_Rate        GDP  \
0        394913  178805.7511         1         8.102308   8032.840
1        394913  180891.4381         1         8.146923   8131.408
2        394913  181090.9894         1         7.703077   8259.771
3        394913  180635.7721         1         7.793077   8362.655
4        394913  182068.9644         1         7.926923   8518.825
...         ...          ...       ...              ...        ...
84435    102001  338317.7382         0         6.372308  26813.601
84436    102001  348777.2949         0         6.510769  27063.012
84437    102001  356315.4753         0         7.040000  27610.128
84438    102001  353596.3073         0         7.303846  27956.998
84439    102001  352295.2503         0         6.748462  28255.928

              CPI  Unemp_Rate       Per_Inc   Population  Year_Quarter  \
0      156.533333    5.500000   6638.633333  269251.3333       1996.25
1      157.366667    5.266667   6712.800000  270128.3333       1996.50
2      158.500000    5.333333   6802.600000  270991.6667       1996.75
3      159.566667    5.233333   6922.166667  271709.0000       1997.00
4      160.200000    5.000000   7003.300000  272487.3333       1997.25
...           ...         ...           ...          ...           ...
84435  300.615333    3.500000  22643.866670  334547.0000       2023.00
84436  304.199667    3.566667  22868.033330  334933.6667       2023.25
84437  306.835333    3.700000  23085.700000  335430.3333       2023.50
84438  307.156000    3.733333  23247.500000  335922.6667       2023.75
84439  310.358333    3.800000  23651.966670  336307.6667       2024.00

       RegionName_Target_Encoded  StateName_Target_Encoded
0                  398314.912596             135794.816024
1                  398314.912596             135794.816024
2                  398314.912596             135794.816024
3                  398314.912596             135794.816024
4                  398314.912596             135794.816024
...                          ...                       ...
84435              193912.223999             193912.223999
84436              193912.223999             193912.223999
84437              193912.223999             193912.223999
84438              193912.223999             193912.223999
84439              193912.223999             193912.223999

[84440 rows x 12 columns]

In [19]:
df.to_csv('year_quarter_combined_w_target_encoded.csv', index=False)

In [2]:
df = pd.read_csv('year_quarter_combined_w_target_encoded.csv')

NameError: name 'pd' is not defined

In [21]:
df

,RegionID,Home_Index,SizeRank,30_Yr_Mort_Rate,GDP,CPI,Unemp_Rate,Per_Inc,Population,Year_Quarter,RegionName_Target_Encoded,StateName_Target_Encoded
0,394913,178805.7511,1,8.102308,8032.840,156.533333,5.500000,6638.633333,269251.3333,1996.25,398314.912596,135794.816024
1,394913,180891.4381,1,8.146923,8131.408,157.366667,5.266667,6712.800000,270128.3333,1996.50,398314.912596,135794.816024
2,394913,181090.9894,1,7.703077,8259.771,158.500000,5.333333,6802.600000,270991.6667,1996.75,398314.912596,135794.816024
3,394913,180635.7721,1,7.793077,8362.655,159.566667,5.233333,6922.166667,271709.0000,1997.00,398314.912596,135794.816024
4,394913,182068.9644,1,7.926923,8518.825,160.200000,5.000000,7003.300000,272487.3333,1997.25,398314.912596,135794.816024
...,...,...,...,...,...,...,...,...,...,...,...,...
84435,102001,338317.7382,0,6.372308,26813.601,300.615333,3.500000,22643.866670,334547.0000,2023.00,193912.223999,193912.223999
84436,102001,348777.2949,0,6.510769,27063.012,304.199667,3.566667,22868.033330,334933.6667,2023.25,193912.223999,193912.223999
84437,102001,356315.4753,0,7.040000,27610.128,306.835333,3.700000,23085.700000,335430.3333,2023.50,193912.223999,193912.223999
84438,102001,353596.3073,0,7.303846,27956.998,307.156000,3.733333,23247.500000,335922.6667,2023.75,193912.223999,193912.223999
84439,102001,352295.2503,0,6.748462,28255.928,310.358333,3.800000,23651.966670,336307.6667,2024.00,193912.223999,193912.223999

In [22]:
df.corr()

,RegionID,Home_Index,SizeRank,30_Yr_Mort_Rate,GDP,CPI,Unemp_Rate,Per_Inc,Population,Year_Quarter,RegionName_Target_Encoded,StateName_Target_Encoded
RegionID,1.000000,0.126734,0.130815,0.000500,0.000651,0.000433,-0.002438,0.000597,0.000287,0.000395,0.157410,0.092984
Home_Index,0.126734,1.000000,-0.219655,-0.113897,0.390312,0.380988,-0.130381,0.387077,0.335923,0.356906,0.805125,0.594992
SizeRank,0.130815,-0.219655,1.000000,-0.107819,0.114755,0.121007,0.024365,0.113938,0.132201,0.127135,-0.272820,-0.199222
30_Yr_Mort_Rate,0.000500,-0.113897,-0.107819,1.000000,-0.495740,-0.523521,-0.339754,-0.532191,-0.711181,-0.657783,0.015252,0.008826
GDP,0.000651,0.390312,0.114755,-0.495740,1.000000,0.992939,-0.219697,0.992834,0.947374,0.975014,-0.016166,-0.009968
CPI,0.000433,0.380988,0.121007,-0.523521,0.992939,1.000000,-0.130036,0.985139,0.958528,0.979651,-0.017126,-0.010607
Unemp_Rate,-0.002438,-0.130381,0.024365,-0.339754,-0.219697,-0.130036,1.000000,-0.172072,-0.037281,-0.086396,-0.004271,-0.002795
Per_Inc,0.000597,0.387077,0.113938,-0.532191,0.992834,0.985139,-0.172072,1.000000,0.949029,0.977181,-0.016104,-0.009930
Population,0.000287,0.335923,0.132201,-0.711181,0.947374,0.958528,-0.037281,0.949029,1.000000,0.993813,-0.018693,-0.011403
Year_Quarter,0.000395,0.356906,0.127135,-0.657783,0.975014,0.979651,-0.086396,0.977181,0.993813,1.000000,-0.017982,-0.011007
RegionName_Target_Encoded,0.157410,0.805125,-0.272820,0.015252,-0.016166,-0.017126,-0.004271,-0.016104,-0.018693,-0.017982,1.000000,0.739006
StateName_Target_Encoded,0.092984,0.594992,-0.199222,0.008826,-0.009968,-0.010607,-0.002795,-0.009930,-0.011403,-0.011007,0.739006,1.000000

In [24]:
train_split_point = 2012.75
validation_split_point = 2018.5

In [25]:
train_data = df[df['Year_Quarter'] <= train_split_point]
validation_data = df[(df['Year_Quarter'] > train_split_point) & (df['Year_Quarter'] <= validation_split_point)]
test_data = df[df['Year_Quarter'] > validation_split_point]

In [27]:
len(train_data)

44174

In [29]:
len(validation_data)

20576

In [30]:
len(test_data)

19690

In [31]:
train_data.to_csv('train_data.csv', index=False)

In [32]:
validation_data.to_csv('val_data.csv', index=False)

In [33]:
test_data.to_csv('test_data.csv', index=False)

In [1]:
columns = ['Home_Index', 'RegionName_Target_Encoded' ,'StateName_Target_Encoded', 'SizeRank', 'Year_quarter', '30_Yr_Mort_Rate', 'GDP', 'CPI', 'Unemp_Rate', 'Per_Inc', 'Population']
corr_matrix = df[columns].corr()

NameError: name 'df' is not defined